<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2012 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest package="com.samsung.microbit"
		  xmlns:android="http://schemas.android.com/apk/res/android"
		  android:versionCode="1"
		  android:versionName="1.0">

	<uses-sdk android:minSdkVersion="19"/>

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

	<uses-feature
		android:name="android.hardware.bluetooth_le"
		android:required="true"/>
	<uses-feature
		android:name="android.hardware.camera"
		android:required="false"/>

	<application
		android:icon="@drawable/ic_launcher"
		android:logo="@drawable/ic_launcher"
		android:theme="@style/AppTheme">
		<activity
			android:name=".ui.activity.HomeActivity"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:screenOrientation="userLandscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.activity.ProjectActivity"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:parentActivityName=".ui.activity.HomeActivity"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".ui.activity.NotificationActivity"
			android:label="@string/device_details"/>
		<activity
			android:name=".ui.activity.LEDGridActivity"
			android:label="@string/title_activity_ledgrid"
			android:parentActivityName=".ui.activity.HomeActivity">
		</activity>
		<activity
			android:name=".ui.activity.ConnectActivity"
			android:label="@string/title_activity_connect"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:parentActivityName=".ui.activity.HomeActivity"
			android:windowSoftInputMode="adjustPan">
		</activity>
		<activity
			android:name=".ui.activity.GamepadActivity"
			android:label="@string/title_activity_gamepad"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:parentActivityName=".ui.activity.HomeActivity"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:name=".ui.activity.WebViewActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:parentActivityName=".ui.activity.HomeActivity"
			android:windowSoftInputMode="adjustResize">
		</activity>
		<activity
			android:name=".ui.activity.AudioRecorderActivity"
			android:label="Audio Recorder"
			android:theme="@android:style/Theme.Holo">
			<intent-filter>
				<action android:name="com.samsung.microbit.ui.AudioRecorderActivity.action.LAUNCH"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.samsung.microbit.ui.AudioRecorderActivity.action.START_RECORD"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.samsung.microbit.ui.AudioRecorderActivity.action.STOP_RECORD"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.activity.CameraActivity_OldAPI"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:label="Camera Microbit"
			android:launchMode="singleTask"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="com.samsung.microbit.activity.CameraActivity.action.OPEN_FOR_PIC"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.samsung.microbit.activity.CameraActivity.action.OPEN_FOR_VIDEO"/>
			</intent-filter>
		</activity>

		<service
			android:name=".service.DfuService"
			android:enabled="true"/>

		<service
			android:name=".service.PluginService"
			android:process=":PluginService">
			<intent-filter>
				<action android:name="com.samsung.microbit.service.PluginService"/>
			</intent-filter>
		</service>

		<service
			android:name=".service.BLEService"
			android:process=":BLEService">
			<intent-filter>
				<action android:name="com.samsung.microbit.service.BLEService"/>
			</intent-filter>
		</service>

		<service
			android:name=".service.IPCService">
			<intent-filter>
				<action android:name="com.samsung.microbit.service.IPCService"/>
			</intent-filter>
		</service>

	</application>

</manifest>
